@use "src/styles/variables/index" as v;

.dragWrapper {
  padding-top: 12px;
  opacity: 0.999;
}

.wrapper {
  padding: 12px;
  width: 242px;
  white-space: break-spaces;
  border: 1px solid v.$light-gray;
  border-radius: 4px;
  background: white;
  background-color: white;
  cursor: pointer;
  z-index: -999;
}
.draging {
  position: relative;
  color: v.$light-gray;
  background: v.$light-gray;
  svg {
    visibility: hidden;
  }
}
