@use "src/styles/variables/index" as v;

.dragWrapper {
  padding-top: 12px;
  opacity: 0.999;
}

.wrapper {
  padding: 12px 12px 8px 12px;
  width: 242px;
  white-space: break-spaces;
  border: 1px solid v.$light-gray;
  border-radius: 4px;
  background: white;
  background-color: white;
  cursor: pointer;
  &:active {
    cursor: grabbing;
  }
}
.footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  span {
    margin-left: 4px;
    font-weight: 300;
    color: #8c97ac;
    line-height: 24px;
  }
}
.right {
  display: flex;
  align-items: center;
  .point {
    color: v.$dark-blue;
    border: 1px solid v.$background-color;
    padding: 4px 7.5px;
    border-radius: 4px;
    margin: 0 12px;
  }
}
