@use "src/styles/variables/index" as v;

.wrapper {
  border-bottom: 1px solid v.$light-gray-border;
  height: 64px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
  }
}

.arrow {
  padding-right: 16px;
  border-right: 1px solid v.$light-gray-border;
  font-size: 24px;
}

.left {
  display: flex;
  align-items: center;
  .code {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-right: 1px solid v.$light-gray-border;
    font-size: 16px;
    span {
      color: v.$main-text-color;
      margin-left: 4px;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;
      font-family: "Inter";
      letter-spacing: -0.01em;
    }
  }
  .last {
    display: flex;
    align-items: center;

    .calendar {
      font-size: 16px;
      margin-left: 12px;
    }
    .peopleGray {
      font-size: 16px;
      margin-left: 16px;
    }
    span {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: v.$dark-blue;
      margin-left: 8px;
    }
  }
  .button {
    margin-left: 24px;
    padding: 8px 12px;
    border-radius: 4px;
    color: v.$text-blue;
    background-color: v.$light-blue;
  }
}
.right {
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-left: 1px solid v.$light-gray-border;

  .dashboardGray {
    display: flex;
    padding: 4px;
    background: #f0f1f4;
    margin-right: 8px;
    border-radius: 4px;
  }
}
