.wrapper {
  display: flex;
  align-items: baseline;
  padding: 2px 0;
}
.bar {
  margin-right: 2.66px;
  width: 2.67px;
  background: #dddddd;
}
.red {
  background-color: #ff6464;
}
.green {
  background-color: #00d8a7;
}

.yellow {
  background-color: #ffd166;
}
