@use "src/styles/variables/index" as v;
.wrapper {
  background: v.$white;
  border: 1px solid #f6f9fb;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 16px;
  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  padding: 12px 18px 12px 14px;
  cursor: pointer;
}

.features {
  padding: 12px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    .search {
      font-size: 16px;
      width: 200px;
      border-radius: 4px;
      padding: 8px;
      display: flex;
      align-items: center;
      background-color: v.$background-color;
      input {
        width: 100%;
        border: none;
        background: none;
        margin-left: 4px;
      }
    }
    .controls {
      font-size: 16px;

      display: flex;
      background-color: #f5f5f5;
      padding: 8px;
      border-radius: 4px;
      margin-left: 8px;
      cursor: pointer;
    }
    .filter {
      font-size: 16px;

      display: flex;
      background-color: #f5f5f5;
      padding: 8px;
      border-radius: 4px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .right {
    padding: 7px;
    border: 1px solid blue;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
  }
}
