$primary-color: blue;
$main-text-color: #405175;
$dark-blue: #001747;
$text-blue: #2d70fd;
$light-blue: #ecf1fc;
$white: #ffffff;
$background-color: #f5f5f5;
$gray: #8c97ac;
$light-gray: #fafbfc;
$light-gray-border: #f1f4f4;
