.wrapper {
  height: 68vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
.emptyArea {
  flex: 1;
}
.taskPlaceHolder {
  border-radius: 4px;
  margin-top: 12px;
  background: #f1f4f4;
}
